body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center; /* eixo horizontal */
  align-items: center;     /* eixo vertical */
  background: linear-gradient(135deg, #5368c5e8, #5a11a3ea);
  font-family: Arial, Helvetica, sans-serif;
}


.App {
  max-width: 900px;
  margin: 0 auto;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
  gap: 40px;

}

 h1 {
  font-size: clamp(2.5rem, 6vw, 4rem); /* Tamanho grande */
  font-weight: 500; /* Negrito */
  color: #f2f2f3e7; /* Cor do texto */
  text-align: center; /* Centraliza o texto */
  letter-spacing: 1px; /* Espaçamento entre letras */
  text-transform: uppercase; /* Deixa tudo em maiúsculas */
   padding: 20px 40px;
   border-radius: 20px;
  background: rgba(177, 51, 194, 0.1); /* Fundo translúcido */
  backdrop-filter: blur(5px); /* Efeito de vidro */
  box-shadow: 0 6px 15px rgb(243, 237, 237); /* Sombra */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

    /* Efeito ao passar o mouse */
    h1:hover {
        transform: scale(1.05);
        box-shadow: 0 12px 30px rgba(238, 232, 232, 0.096);
    }

.form-base {
  background: rgba(53, 2, 95, 0.247);
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0,0,0,.15);
  margin-bottom: 40px;
  width: 100%;
  max-width: 420px;
  margin: 0 auto;
}

.form-base div {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.form-base input {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 18px;
  
}


.form-base button {
  padding: 12px;
  border: none;
  border-radius: 10px;
  background: #8a2af87c;
  color: white;
  font-weight: bold;
  cursor: pointer;
  display: block;
  margin: 20px auto 0;
}

.produto-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 15px 35px rgba(8, 8, 8, 0.35);
}

.produto-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 12px;
  margin-bottom: 15px;
}

.produto-card h3 {
  font-size: 1.4rem;
  margin-bottom: 10px;
}

.produto-card .preco {
  font-size: 1.2rem;
  font-weight: bold;
  color: #ffd6ff;
  margin-bottom: 8px;
}

.produto-card .descricao {
  font-size: 0.95rem;
  opacity: 0.9;
}

.produto-card {
  animation: fadeUp 0.4s ease;
  transition: transform 0.3s ease;
}

.produto-card:hover {
  transform: translateY(-6px);
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.acoes {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 10px;
}

.acoes button:first-child {
  background: #0c6e11d3;
}

.acoes button:last-child {
  background: #d11a2a;
}

.lista-produtos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 30px;
  width: 100%;
  max-width: 400px;
  margin: 40px auto 0;
  padding: 20px;
  border-radius: 9px;
}







